/* .feedback-form{
    width: 408px;
    height: 296px;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
}

.feedback-form label {
    display: block;
} */
body{
    font-family: Montserrat;
}
.feedback-form {
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
    background: #fff;
}

.feedback-form label {
    display: block;
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
}

.feedback-form input[type='email'] {
    width: 360px;
    height: 40px;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 4px;
    margin-bottom: 8px;
}

.feedback-form input[type='email']:hover {
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.feedback-form textarea {
    width: 360px;
    height: 80px;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    resize: none;
}

.feedback-form button {
    width: 95px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #4e75ff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
}

.feedback-form button:hover {
    background: #6c8cff;
}

.form-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}